
:root {
	--background-color: rgba(46, 196, 182, 0.04);
	--mainText-color: rgba(115, 115, 115, 1);
	--formBackground-color: rgba(255, 255, 255);
	--labelText-color: rgba(1, 28, 52, 1);
	--inputText-color: rgba(115, 115, 115, 1);
}

@media (prefers-reduced-motion: no-preference) {
	* {
		scroll-behavior: smooth;
	}
}

*, *::before, *::after {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: 62.5%;
}


body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.4rem;
	width: 100vw;
	height: 100vh;
	background-color: var(--background-color);
}


/* MAIN CONTENT */

main {
	max-width: 144rem;
	height: 84rem;
	margin: auto;
	display: grid;
	place-content: center;
	grid-template-columns: repeat(2, 1fr);
}

.signUp-intro {
/*	margin-block-start: 12.5rem;*/
	margin-block-start: 20.5rem;
}

.logo img {
	width: 7.7333rem;
	height: 8rem;
	margin-block-end: 5rem;
}

.signUp-intro h1 {
	font-size: 4rem;
	font-weight: 700;
	color: rgba(0, 11, 10);
	line-height: 5rem;
	letter-spacing: -0.08rem;
}

.signUp-intro p {
	font-size: 1.6rem;
	color: var(--mainText-color);
	margin-block-start: 2rem;
	line-height: 2.5rem;
	max-width: 46rem;
}

.signUp-intro p.small-viewport-text {
	font-weight: 300;
	display: none;
}


/* FORM */

.signUp-form {
	justify-self: end;
	align-self: center;
	margin-block-start: 8rem;
}

form {
	max-width: 58rem;
	height: 100%;
	padding: 4rem;
	border-radius: 0.6rem;
	box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
	background-color: var(--formBackground-color);
}

label {
	display: block;
	font-weight: 600;
	color: var(--labelText-color);
	letter-spacing: -0.01rem;
	margin-block-end: 3rem;
}

.name-wrapper, 
.gender-dob-wrapper, 
.weight-height-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-content: space-between;
	column-gap: 2.4rem;
}

label span {
	letter-spacing: 0.1px;
	display: block;
	padding-block-end: 1rem;
}

input, select {
	border-radius: 2px;
	border: 1px solid rgb(240, 240, 240);
	color: var(--inputText-color);
	line-height: 2rem;
	letter-spacing: 0.02rem;
	padding-inline-start: 1.6rem;

	&:focus {
		outline: 1px solid rgba(46, 196, 182);
	}
}

select {
	background-color: var(--formBackground-color);
}

.name-wrapper input, 
.weight-height-wrapper input, 
.gender-dob-wrapper select, 
.gender-dob-wrapper input {
	width: 23.8rem;
	height: 4.8rem;
}

.activity-wrapper select, 
.password-wrapper input, 
button {
	width: 50rem;
	height: 4.8rem;
}

button {
	margin-block-end: 1.6rem;
	background-color: rgba(46, 196, 182);
	filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.10));
	color: var(--formBackground-color);
	font-size: 1.6rem;
	letter-spacing: 0.02rem;
	font-weight: 600;
	border: none;
}

.tos {
	font-size: 1.25rem;
	margin-inline: auto;
	text-align: center;
	max-width: 46.3rem;
}

.tos, footer {
	line-height: 2.5rem;
	color: rgb(0, 0, 0);
}

.tos a, footer a {
	color: rgba(46, 196, 182);
	font-weight: 500;
}

footer {
	display: none;
	max-width: 31.6rem;
	margin-inline: auto;
	margin-block-end: 6.4rem;
}

footer p {
	text-align: center;
	height: 5rem;
	padding-inline: 3rem;
}


/* MEDIA QUERY */

@media only screen and (max-width: 550px) {
	main {
		display: block;
		margin-inline: auto;
		height: 100%;
	}

	.signUp-intro {
		width: 100%;
		padding-inline: 2.4rem;
	}

	.signUp-intro h1 {
		margin-block-start: -3.81rem;
		font-size: 3rem;
	}

	.signUp-intro p.small-viewport-text, 
	footer {
		display: unset;
	}

	.signUp-intro p.large-viewport-text, 
	.tos {
		display: none;
	}

	.signUp-form {
		display: block;
		padding: 2.4rem;
	}

	form {
		display: block;
		height: 100%;
		width: 100%;
		padding-inline: 1.6rem;
	}

	.name-wrapper, 
	.gender-dob-wrapper, 
	.weight-height-wrapper {
		display: block;
	}

	label {
		display: block;
		margin-block-end: 2.4rem;
	}

	.name-wrapper input, 
	.weight-height-wrapper input, 
	.gender-dob-wrapper select, 
	.gender-dob-wrapper input, 
	.activity-wrapper select, 
	.password-wrapper input, 
	button {
/*	width: 29.5rem;*/
	width: 100%;
	}

	button {
		margin-block-end: -1rem;
	}
}


@media only screen and (max-width: 1024px) {
	main {
		display: block;
		margin-block-start: 3.4rem;
	}

	.signUp-intro {
		display: block;
		max-width: 56rem;
		margin: auto;
		margin-block-end: 3rem;
	}

	.signUp-intro h1 {
		margin-block-start: -3.81rem;
	}

	.signUp-form {
		width: 100%;
		margin: auto;
	}

	form {
		margin: auto;
	}
}

